global:
  scrape_interval: 1s
  evaluation_interval: 1s
scrape_configs:
- job_name: node_exporter
  static_configs:
  - targets:
    - ec2-52-66-212-146.ap-south-1.compute.amazonaws.com:9100
    - ec2-13-233-236-179.ap-south-1.compute.amazonaws.com:9100
